/* Style for About Us Page */

.content {
    max-width: 1200px;
    padding: 0 50px;
    margin: 0 auto;
}

.about-section {
    background-color: #f8f8f8;
    width: 100%;
    margin: 50px 0;
    
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

.about-section h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.about-section p {
    font-size: 16px;
    line-height: 1.5;
}
