* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2d4131;
    color: white;
    padding: 1rem;
    text-align: center;
    user-select: none;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
}

header ul li {
    width: 60px;
}

header ul li a {
    color: white;
    text-decoration: none;
    cursor: default;
    font-size: 20px;
}

/* except .non-colorize*/
header ul li a:not(.non-colorize):hover {
    color: #adffab;
    cursor: pointer;
}



footer {
    background-color: #2d4131;
    color: white;
    padding: 1rem;
    text-align: center;
    padding: 20px 0;
}

footer .team-name {
    font-size: 20px;
    margin-bottom: 10px;
}