* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #2d4131;
    color: white;
    padding: 1rem;
    text-align: center;
    user-select: none;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 30px 0 0 0;
    flex-wrap: wrap; /* Flex items will wrap onto multiple lines */
}

header ul li {
    width: 60px;
}

header ul li a {
    color: white;
    text-decoration: none;
    cursor: default;
    font-size: 20px;
}

/* except .non-colorize*/
header ul li a:not(.non-colorize):hover {
    color: #adffab;
    cursor: pointer;
}

footer {
    background-color: #2d4131;
    color: white;
    padding: 1rem;
    text-align: center;
    padding: 20px 0;
}

footer .team-name {
    font-size: 20px;
    margin-bottom: 10px;
}

/* Media Queries for Responsive Design */
@media (max-width: 1200px) {
    header ul {
        justify-content: space-around; /* Keep horizontal alignment but adjust spacing */
    }

    header ul li {
        width: auto;
        margin: 10px 5px; /* Add margin for spacing */
    }

    .content {
        padding: 0 20px;
    }
}
