/* encyclopediastyle.css */
.main {
    display: flex;
    padding: 20px;
    align-items: flex-start; /* Align items to the top */
    justify-content: center; /* Center align the content area */
    flex-wrap: nowrap; /* Ensure the sidebar and content do not wrap */
    gap: 20px; /* Add some gap between the sidebar and content */
}

.sidebar-placeholder {
    flex-shrink: 0;
    width: 20%; /* Ensure the placeholder takes the same width as the sidebar */
    max-width: 250px; /* Set maximum width for the sidebar */
}

.sidebar {
    background-color: #f0f0f0;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure the sidebar fills the placeholder width */
    max-width: 250px; /* Set maximum width for the sidebar */
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #2d4131;
    display: block;
    padding: 5px; /* Adjust padding to fit text height */
    border-radius: 5px;
    text-align: center;
    height: auto; /* Ensure height adjusts to text */
}

.sidebar ul li a:hover {
    background-color: #2d4131;
    color: white;
}

.content {
    flex-grow: 1; /* Ensure the content takes the remaining space */
    padding: 20px;
    max-width: 800px; /* Maximum width considering the sidebar's max-width */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the inner divs */
}

.content .plant {
    margin-bottom: 200px;
    text-align: center;
    width: 100%; /* Ensure it takes the full width of the content */
    max-width: 800px; /* Set a maximum width for better readability */
}

.content .plant img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 20px auto;
}

.content .plant h3 {
    margin-bottom: 4px;
    font-size: 24px;
}

.content .plant h4 {
    margin-bottom: 10px;
    font-size: 18px;
}

.content .plant p {
    font-size: 18px;
    line-height: 1.6;
    text-align: left;
}

/* Media query to hide the sidebar on small screens */
@media (max-width: 768px) {
    .sidebar,
    .sidebar-placeholder {
        display: none;
    }

    .content {
        width: 100%; /* Ensure the content takes full width */
        max-width: 100%; /* Ensure it adjusts to full width */
    }

    .content .plant {
        max-width: 100%; /* Ensure it takes full width on small screens */
    }
}
